<div class='page-title-area'>

	<div class='page-title'>
		<h1> Hello, World! </h1>
	</div>

</div>

<p align='center'>This is the front page of HearthWiz. There's nothing here yet! For now, you can browse <%= link_to "the list of cards", cards_url %>.

<br/><br/><br/><br/>