<div class='page-title-area'>

	<div class='page-title'>
		HearthWiz
	</div>

</div>

<div id='hearthwiz-introduction'>

This is the front page of HearthWiz. There's nothing here yet! For now, you can browse <%= link_to "the list of cards", cards_url %>.

</div>

