<div class='page-title-area'>
	<div class='page-title' id='hearthwiz-title'>
			HearthWiz
	</div>
</div>

<div id='hearthwiz-introduction'>
	<p>Hello! HearthWiz is a <%= link_to "Hearthstone", "http://eu.battle.net/hearthstone/en/"%> card database and deck management site.</p>

	<p> It's still in development, but gosh darn, you're welcome to look at <%= link_to "the list of cards", cards_url %>.</p>
</div>