.page-title-area
  .page-title#hearthwiz-title
    HearthWiz
#hearthwiz-introduction
  %p
    Hello! HearthWiz is a #{link_to 'Hearthstone', 'http://eu.battle.net/hearthstone/en/'} card database and deck management site.
  %p
    We're still in development, but gosh darn, you're welcome to look at #{link_to 'the list of cards', cards_url}.
