@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$roboto-slab: 'Roboto Slab', serif;   
$dark-grey: #383838;
$grey: #484848;
$white: #eeeeee;
$electric-blue: #37fdfc;

$header-height: 50px;

$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;
$dark-grey: #383838;
$grey: #484848;
$white: #eeeeee;
$electric-blue: #37fdfc;

$header-height: 50px;
$footer-height: 30px;

$common-white: #000000;
$uncommon-green: #00cc00;
$rare-blue: #0070dd;
$epic-purple: #a335ee;
$legendary-orange: #ff8000;