// Utilities
@import "utilities/variables";

html{
	background-color: $dark-grey;

	.container{
		background-color: $dark-grey;
	    font-family: $open-sans;
		color: $white;

		a, a:visited{
		color: $electric-blue;
		}

		a:visited {
			color: $electric-blue;
		}
	}
}

.container {
	min-height:100%;
	position:relative;
}

.body{
	padding-top: $header-height;
	padding-bottom: $footer-height;
}

.page-title-area{

	width: 50%;
	margin: 0 auto;

	color: $electric-blue;
	padding-bottom: 10px;

	.page-title {
		font-family: $roboto-slab;
		font-size: 30px;
		text-align: center;
		font-weight: bold;
		height: 40px;
		line-height: 40px;
		padding: 10px;
		padding-bottom: 5px;

	}

	.page-subtitle{
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
	}

}