$footer-height: 30px;
$white: #eeeeee;

.footer{

	position:absolute;

	height: $footer-height;
    border-top: thin solid $white;
    width: 100%;

	bottom:0;
	left:0;

	padding-top: 20px;

	#built-by{
		text-align: center;
		line-height: $footer-height;
	}

}

* {
	margin: 0;
}

.container {
	min-height: 100%;
	margin: 0 auto (-$footer-height); /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: $footer-height; /* .push must be the same height as .footer */
}