<div class="title" id="all_cards_title">
  <h1>All Cards</h1>
</div>

<% if flash[:error]  %>
  <div id="error"><%= flash[:error] %></div>
<% end %>

<% if flash[:notice]  %>
  <div id="notice"><%= flash[:notice] %></div>
<% end %>


<%= 
    grid(@card_grid) do |g|
      
      g.row_attributes do
          {style:   'background-color: rgb(60, 60, 60);'}
      end

      g.column name: 'Cost', attribute: 'cost'

      g.column name: 'Name', attribute: 'name' do |card|
          card.name
      end

      g.column name: 'Type', attribute: 'card_type' do |card|
          card.card_type
      end

      g.column name: 'Rarity', attribute: 'rarity_id' do |card|
          card.getRarityName
      end

      g.column name: 'Set', attribute: 'card_set_id' do |card|
          card.getCardSetName
      end

      g.column name: 'Attack', attribute: 'attack'
      g.column name: 'Health', attribute: 'health'
      g.column name: 'Durability', attribute: 'durability'
      g.column name: 'Text', attribute: 'text', filter: false, ordering: false
    
    end
 %>
