<div class="page-title-area">

  <div class="page-title" id="all_cards_title">
    All Cards
  </div>


</div>

<% if flash[:error]  %>
  <div id="error"><%= flash[:error] %></div>
<% end %>

<% if flash[:notice]  %>
  <div id="notice"><%= flash[:notice] %></div>
<% end %>

<%= 
    grid(@card_grid) do |g|

      g.column name: 'Cost', attribute: 'cost', filter: false

      g.column name: 'Name', attribute: 'name', filter: false do |card|
          link_to card.name, root_url + card.getIdPath
      end

      g.column name: 'Type', attribute: 'card_type', filter: false do |card|
          card.card_type
      end

      g.column name: 'Rarity', attribute: 'rarity_id', filter: false do |card|
          card.getRarityName
      end

      g.column name: 'Set', attribute: 'card_set_id', filter: false do |card|
          card.getCardSetName
      end
      
      g.column name: 'Text', attribute: 'text', filter: false, ordering: false
    
    end
 %>
