$common-white: #000000;
$uncommon-green: #00cc00;
$rare-blue: #0070dd;
$epic-purple: #a335ee;
$legendary-orange: #ff8000;

#common{
	font-color: $common-white;
}

#uncommon{
	font-color: $uncommon-green;
}

#rare{
	font-color: $rare-blue;
}

#epic{
	font-color: $epic-purple;
}

#legendary{
	font-color: $legendary-orange;
}

.card-info-area{


    .card-info{
    	 padding-top: 10px;
		 padding-right: 50px;
		 padding-bottom: 10px;
		 padding-left: 50px;
    }

}