@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);


$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;

$dark-grey: #383838;
$white: #eeeeee;
$electric-blue: #37fdfc;

$common-white: #000000;
$uncommon-green: #00cc00;
$rare-blue: #0070dd;
$epic-purple: #a335ee;
$legendary-orange: #ff8000;

html{
    background-color: $dark-grey;


    a{
	    	color: $electric-blue;
    }

    a:visited {
    		color: $electric-blue;
    }

	body {

		background-color: transparent;
	    font-family: $open-sans;
		color: $white;




	    .title-area{

			width: 50%;
			margin: 0 auto;

			.title {
				font-family: $roboto-slab;
				font-size: 30px;
				color: $electric-blue;
				text-align: center;
			}

			.subtitle {
				font-family: $roboto-slab;
				font-size: 10px;
				text-align: center;
				font-weight: bold;

				font-color: $common-white;

				#rare{
					font-color: $rare-blue;
				}

				#epic{
					font-color: $epic-purple;
				}

				#legendary{
					font-colour: $legendary-orange;
				}

			}

			 padding-top: 25px;
				 padding-right: 50px;
				 padding-bottom: 25px;
				 padding-left: 50px;
		}


		.card-info-area{


		    .card-info{
		    	 padding-top: 10px;
				 padding-right: 50px;
				 padding-bottom: 10px;
				 padding-left: 50px;
		    }

	    }


			
	}



}

