<div class='nav-item' id='nav-homepage' onclick="location.href='<%= root_url %>';" style="cursor: pointer;">

	HearthWiz

</div>

<div class='nav-item' onclick="location.href='<%= cards_url %>';" style="cursor: pointer;"  id='nav-cardlist'>

Cards

</div>

<div class='nav-item' onclick="location.href='<%=  %>';" style="cursor: pointer;"  id='nav-user'>

User

</div>

<div class='nav-item' onclick="location.href='<%=  %>';" style="cursor: pointer;" id='nav-about'>

About

</div>