.nav-item#nav-homepage{ onclick: "location.href='#{ root_url }';", style: 'cursor: pointer;' }
  HearthWiz
.nav-item#nav-cardlist{ onclick: "location.href='#{ cards_url }';", style: 'cursor: pointer;' }
  Cards
.nav-item#nav-user{ onclick: 'location.href='  ';', style: 'cursor: pointer;' }
  User
.nav-item#nav-about{ onclick: 'location.href='  ';', style: 'cursor: pointer;' }
  About