#nav-homepage.nav-item{:onclick => "location.href='#{root_url}';", :style => "cursor: pointer;"}
  HearthWiz
#nav-cardlist.nav-item{:onclick => "location.href='#{cards_url}';", :style => "cursor: pointer;"}
  Cards
#nav-user.nav-item{:onclick => "location.href='  ';", :style => "cursor: pointer;"}
  User
#nav-about.nav-item{:onclick => "location.href='  ';", :style => "cursor: pointer;"}
  About
