<div class='nav-item' id='nav-title' onclick="location.href='<%= root_url %>';" style="cursor: pointer;">

	HearthWiz

</div>

<div class='nav-item' onclick="location.href='<%= cards_url %>';" style="cursor: pointer;"  id='Cards'>

Cards

</div>

<div class='nav-item' onclick="location.href='<%=  %>';" style="cursor: pointer;"  id='User'>

User

</div>

<div class='nav-item' onclick="location.href='<%=  %>';" style="cursor: pointer;" id='About'>

About

</div>